.app {
  text-align: center;
}

.f-0 {
  font-size: 0;
}

.f-15 {
  font-size: 15px;
}

.rowNumber {
  width: 100px;
}

.sourceWrapper,
.destinationWrapper {
  width: calc(50% - 50px);
  margin: 0;
  border-radius: 0;
  word-break: break-all;
}

.text-black {
  color: #000;
}
